* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 95%;
}

body {
  background-color: #f4f4f4;
  padding: 2rem;
}

.main-title {
  text-align: center;
  margin-bottom: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.grid-item {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.grid-item button:hover {
  background-color: #0056b3;
}

.output {
  margin-top: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 0.5rem;
}

#weather-output {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

#github-output {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1840px) {
  * {
    width: 85%;
  }
}
